schemata/stems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mes="https://www.adambaker.org/mortal-engine/stems" targetNamespace="https://www.adambaker.org/mortal-engine/stems">

    <xs:element name="stems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stem" type="mes:stem" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="stem">
        <xs:choice>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="form" type="mes:form" minOccurs="1"/>
                <xs:element name="tag" type="xs:string"/>
            </xs:choice>
            <xs:element name="allomorph" type="mes:allomorph" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="allomorph">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="form" type="mes:form" minOccurs="1"/>
            <xs:element name="tag" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="portmanteau" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="form">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>